* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-tono: 0; 

    --color-one: hsl(var(--color-tono), 0%, 100%);  /* black */
    --color-two: hsl(var(--color-tono), 100%, 0%);   /* white */
    --color-three: hsl(var(--color-tono), 0%, 50%);  /* gray */
    --color-four: hsl(var(--color-tono), 100%, 50%); /* red */
  
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    --font: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;   
}

body{
    background-color: var(--color-one);
    font-family: var(--font);
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;
}

/* header */

.header{
 position: fixed;
 border-bottom: 0.1rem solid var(--color-two);
 background-color: var(--color-one);
 top: 0;
 right: 0;
 left: 0;
 z-index: 100; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu div:nth-child(3){
    display: flex;
}

.menu__logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 6rem;
    width: 12rem;
}

.menu__container {
    display: flex;
    align-items: center;
}

.menu__list{
    display: flex;
    list-style: none;    
}

.menu__list li{
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.menu__list li a{
    text-decoration: none;
    font-size: var(--sm);
    color: var(--color-two);
    border-bottom: 1px solid transparent  
}

.menu__list li a:hover{
    border-bottom: 1px solid var(--color-two);
}

.menu__search{
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-two);
    padding: 0;
    margin-left: 1rem;
}

/* input */
.search-movie{
    width: 12rem;
    height: 3rem;
    padding: .5rem 1rem;
    border: none;
    font-size: var(--sm);
    background-color: transparent;
    color: var(--color-two);
}

.search-movie:focus {
    outline: none;
  }

::placeholder {
    color: var(--color-three)
}

.btn-search{
    font-size: var(--md);
    background-color: transparent;
    border: none;
    color: var(--color-two);
    height: 3rem;
    width: 3rem;
    cursor: pointer;      
}

.btn-menu-close{
    display: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    color: var(--color-one);
    text-align: center; 
    font-size: var(--lg);    
}

.btn-menu{
    display: none;
    height: 3rem;
    width: 3rem;
    font-size: var(--lg);
    border: none;
    background-color: transparent;
    color: var(--color-one);
    cursor: pointer;
}

/* main */

.title {
    padding-top: 6rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-two);
}

.movies__container{
    display: flex;
    gap: 3rem;
    width: 100%;
    margin-bottom: 5rem;
    color: var(--color-one);
    overflow: auto;
    padding: 2rem 0;
}

.movies__container::-webkit-scrollbar{
    height: 0.8rem ;
    background-color: var(--color-two);
    border-radius: .5rem;
}
  
.movies__container::-webkit-scrollbar-thumb{
    background-color: var(--color-three);
    border-radius: .5rem ;
}

.movie__card{
    cursor: pointer;
    width: 18rem;
    position: relative;
}

.movie__card .movie__card-image{
    border-radius: 0.5rem;
    width: 18rem;
    height: 30rem;
    object-fit: cover;
}

.movie__card p{
    text-align: center;
    margin-top: 1rem;
    font-size: var(--sm);
    color: var(--color-two);
}

.categories__list{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.btn-category{
    background-color: var(--color-three);
    color: var(--color-two);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 12rem;
    cursor: pointer;
    font-size: var(--sm);
}

.btn-category--select {
    background-color: var(--color-four)
}

.btn-category:hover{
    color: var(--color-two);
    transform: scale(1.1);
}

.search__container > div:nth-child(1) {
    display: flex;
    margin-top: 5rem;
}

.search__container .title{
    padding-top: 1rem;
}

.btn-search-close{
    font-size: 2rem;
    padding-left: 1rem;
    text-align: center;
}

.btn-search-close i::before{
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: var(--color-one);
    border: 0.1rem solid var(--color-one);
    border-radius: 50%;
}

.btn-like{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.1 solid var(--color-one);
    padding: 0;
    margin: 0;
    background-color: var(--color-three);
    cursor: pointer;
}

.btn-like::before {
    content: '🤍';
}

.btn-like--liked {
    background-color: var(--color-one);
    box-shadow: 0rem 0rem 0.5rem 0.2rem var(--color-four)
}

.btn-like--liked::before {
    content: '❤️';
}

.btn__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 3.1rem;
    background-color: var(--color-two);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-two);
    margin-left: 1rem;
    overflow: hidden;
    position: relative;
}

.btn__theme-day, .btn__theme-night {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 3rem;
    font-size: var(--lg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: var(--color-one);
}


.btn-theme--change {
    width: 30px;
    height: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-two);
    padding: 1rem 0;
    background-color: var(--color-one);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}

   
/* footer */

footer{
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid var(--color-two);
    font-size: var(--sm);
    color: var(--color-two);
}

.inactive{
    display: none;
}


@media screen and (max-width: 705px) {

.btn-menu{
    display: flex;
    justify-content: start;
}

.btn-menu i{
    color: var(--color-two);
}

.btn-menu-close{
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;  
}

.btn-menu-close  i{
    color: var(--color-two);  
}

.menu__container{
    display: none;
}

.menu__container--dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2rem;
    top: 7rem;
    background-color: var(--color-one);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-two);
    padding: 2rem;
    z-index: 100;
}


.menu__list{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.menu__list li {
    padding: 1rem 0; 
}

.menu__list li a:hover{
    border-bottom: 1px solid var(--color-two);
}


.menu__list li a:hover{
    border-bottom: 1px solid var(--color-two);
}


.menu__search{
    margin: 0;
    border-color: var(--color-two);
}

.menu__list li a{
    color: var(--color-two);  
}

.search-movie{
    color: var(--color-two);
}

.btn-search{
    color: var(--color-two); 
}


}

